# New York Restaurants

## The project details:
We have put together a table of restaurants called nomnom and we need your help to answer some questions. Use the SQL commands you just learned and find the best dinner spots in the city.

The schema of this table is available here. https://content.codecademy.com/courses/sql-intensive/nomnom.png

In [ ]:
-- 1 getting a feel for the nomnom table:
SELECT * FROM nomnom LIMIT 10;

-- Results
Query Results
name	neighborhood	cuisine	review	price	health
Peter Luger Steak House	Brooklyn	Steak	4.4	$$$$	A
Jongro BBQ	Midtown	Korean	4.5	$$	A
Pocha 32	Midtown	Korean	4	$$	A
Nom Wah Tea Parlor	Chinatown	Chinese	4.2	$	A
Roberta's	Brooklyn	Pizza	4.4	$$	A
Speedy Romeo	Brooklyn	Pizza	4.4	$$	A
Bunna Cafe	Brooklyn	Ethiopian	4.6	$$	A
Massawa	Uptown	Ethiopian	4	$$	
Buddha Bodai	Chinatown	Vegetarian	4.2	$$	A
Nan Xiang Xiao Long Bao	Queens	Chinese	4.2	$	A
Database Schema
nomnom
name	type
name	TEXT
neighborhood	TEXT
cuisine	TEXT
review	INTEGER
price	TEXT
health	TEXT
Rows: 53

In [ ]:
-- 2 What are the distinct neighborhoods?
SELECT DISTINCT neighborhood FROM nomnom;

-- Results
Query Results
neighborhood
Brooklyn
Midtown
Chinatown
Uptown
Queens
Downtown
Database Schema
nomnom
name	type
name	TEXT
neighborhood	TEXT
cuisine	TEXT
review	INTEGER
price	TEXT
health	TEXT
Rows: 53

In [ ]:
-- 3 What are the distinct cuisine types?
SELECT DISTINCT cuisine FROM nomnom;

-- Results
Query Results
cuisine
Steak
Korean
Chinese
Pizza
Ethiopian
Vegetarian
Italian
Japanese
American
Mediterranean
Indian
Soul Food
Mexican

In [ ]:
-- 4 Suppose we would like some Chinese takeout. What are our options?
SELECT * FROM nomnom WHERE cuisine = 'Chinese';

-- Results
Query Results
name	neighborhood	cuisine	review	price	health
Nom Wah Tea Parlor	Chinatown	Chinese	4.2	$	A
Nan Xiang Xiao Long Bao	Queens	Chinese	4.2	$	A
Mission Chinese Food	Downtown	Chinese	3.9	$$	A
Baohaus	Downtown	Chinese	4.2	$	A
Xi'an Famous Foods	Midtown	Chinese	4.4	$	A
Sonnyboy's	Brooklyn	Chinese	4.2	$$	A
Great NY Noodletown	Chinatown	Chinese	4.1	$$	B
Golden Unicorn	Chinatown	Chinese	3.8	$$	A
Wo Hop	Chinatown	Chinese	4.2	$$	
Ping's Seafood	Chinatown	Chinese	4.2	$$	A
XO Kitchen	Chinatown	Chinese	4	$	B

In [ ]:
-- 5 Return all the restaurants with reviews of 4 and above.
SELECT * FROM nomnom WHERE review >= 4 LIMIT 10;

-- Results
Query Results
name	neighborhood	cuisine	review	price	health
Peter Luger Steak House	Brooklyn	Steak	4.4	$$$$	A
Jongro BBQ	Midtown	Korean	4.5	$$	A
Pocha 32	Midtown	Korean	4	$$	A
Nom Wah Tea Parlor	Chinatown	Chinese	4.2	$	A
Roberta's	Brooklyn	Pizza	4.4	$$	A
Speedy Romeo	Brooklyn	Pizza	4.4	$$	A
Bunna Cafe	Brooklyn	Ethiopian	4.6	$$	A
Massawa	Uptown	Ethiopian	4	$$	
Buddha Bodai	Chinatown	Vegetarian	4.2	$$	A
Nan Xiang Xiao Long Bao	Queens	Chinese	4.2	$	A

In [ ]:
-- 6 Return all the restaurants that are Italian and $$$.
SELECT * FROM nomnom WHERE cuisine = "Italian" and price = "$$$";

-- Results
Query Results
name	neighborhood	cuisine	review	price	health
al di la Trattoria	Brooklyn	Italian	4.4	$$$	A
Locanda Vini & Olii	Brooklyn	Italian	4.4	$$$	A
Rao's	Uptown	Italian	4.2	$$$	A
Carbone	Downtown	Italian	4.3	$$$	A
I Sodi	Downtown	Italian	4.5	$$$	A
Lilia	Brooklyn	Italian	4.4	$$$	A

In [ ]:
-- 7 Your coworker Trey can’t remember the exact name of a restaurant he went 
-- to but he knows it contains the word ‘meatball’ in it.
SELECT * FROM nomnom WHERE name LIKE "%meatball%";

-- Results
Query Results
name	neighborhood	cuisine	review	price	health
The Meatball Shop	Downtown	American	4.2	$	A

In [ ]:
-- 8 Find all the close by spots in Midtown, Downtown or Chinatown.
SELECT * FROM nomnom WHERE neighborhood = "Midtown" 
  OR neighborhood = "Downtown" 
  OR neighborhood = "Chinatown" LIMIT 10;

-- Results
Query Results
name	neighborhood	cuisine	review	price	health
Jongro BBQ	Midtown	Korean	4.5	$$	A
Pocha 32	Midtown	Korean	4	$$	A
Nom Wah Tea Parlor	Chinatown	Chinese	4.2	$	A
Buddha Bodai	Chinatown	Vegetarian	4.2	$$	A
Mission Chinese Food	Downtown	Chinese	3.9	$$	A
Baohaus	Downtown	Chinese	4.2	$	A
Minca	Downtown	Japanese	4.4	$$	A
Kenka	Downtown	Japanese	4.3	$	B
Yakitori Taisho	Downtown	Japanese	4.1	$	B
Xi'an Famous Foods	Midtown	Chinese	4.4	$	A

In [ ]:
-- 9 Find all the health grade pending restaurants (empty values).
SELECT * FROM nomnom WHERE health IS NULL;

-- Results
Query Results
name	neighborhood	cuisine	review	price	health
Massawa	Uptown	Ethiopian	4	$$	
Wo Hop	Chinatown	Chinese	4.2	$$	
Jacob's Pickles	Uptown	American		$$	
Lighthouse	Brooklyn	American	4.6	$$	
Los Hermanos	Brooklyn	Mexican	4.4	$

In [ ]:
-- 10 Create a Top 10 Restaurants Ranking based on reviews.
SELECT * FROM nomnom ORDER BY review DESC LIMIT 10;

-- Results
name	neighborhood	cuisine	review	price	health
Bunna Cafe	Brooklyn	Ethiopian	4.6	$$	A
Russ & Daughters	Downtown	American	4.6	$$	A
Lighthouse	Brooklyn	American	4.6	$$	
Jongro BBQ	Midtown	Korean	4.5	$$	A
Dan and John's Wings	Downtown	American	4.5	$	A
I Sodi	Downtown	Italian	4.5	$$$	A
Jajaja	Downtown	Vegetarian	4.5	$$	A
St. Anselm	Brooklyn	Steak	4.5	$$	A
Marea	Midtown	Italian	4.5	$$$$	A
Ootoya	Downtown	Japanese	4.5	$$	A

In [ ]:
-- 11 Use a CASE statement to change the rating system to:
--   review > 4.5 is Extraordinary
--   review > 4 is Excellent
--   review > 3 is Good
--   review > 2 is Fair
-- Everything else is Poor

SELECT name, cuisine, price, CASE
  WHEN review > 4.5 THEN 'Extraordinary'
  WHEN review > 4 THEN 'Excellent'
  WHEN review > 3 THEN 'Good'
  WHEN review > 2 THEN 'Fair'
  ELSE 'Poor'
  END AS 'Named reviews'
FROM nomnom
LIMIT 10;

-- Results
Query Results
name	cuisine	price	Named reviews
Peter Luger Steak House	Steak	$$$$	Excellent
Jongro BBQ	Korean	$$	Excellent
Pocha 32	Korean	$$	Good
Nom Wah Tea Parlor	Chinese	$	Excellent
Roberta's	Pizza	$$	Excellent
Speedy Romeo	Pizza	$$	Excellent
Bunna Cafe	Ethiopian	$$	Extraordinary
Massawa	Ethiopian	$$	Good
Buddha Bodai	Vegetarian	$$	Excellent
Nan Xiang Xiao Long Bao	Chinese	$	Excellent

## Review
It was a nice database to practise your beginner skills. Although we can still infer some more information such as which cuisines dominate a certain area. On the locations where we have less restaurants is the price higher? Is the health issue higher in a certain cuisine or neighborhood?