# Trends in Startups

## The project details:
Howdy! It’s your first day as a TechCrunch reporter. Your first task is to write an article on the rising trends in the startup world.

To get you started with your research, your boss emailed you a project.sqlite file that contains a table called startups. It is a portfolio of some of the biggest names in the industry.

Write queries with aggregate functions to retrieve some interesting insights about these companies.

In [ ]:
-- 1 Getting started, take a look at the startups table:
SELECT * FROM startups LIMIT 10;

-- Results

Query Results
name	location	category	employees	raised	valuation	founded	stage	ceo	info
Pied Piper	Silicon Valley	Cloud Computing	6	5000000	50000000	2014	A	Richard Hendricks	A Middle-Out Compression Solution
Hooli	Silicon Valley	Enterprise	9000	580000000	49500000000	1997		Gavin Bensen	Hooli Is About People
Raviga Capital	Silicon Valley	Venture Capital	12	300000000	3000000000	2012		Peter Gregory	Share Only In Success
Aviato	Silicon Valley	Travel	3	250000	2500000	2006	Acquired	Erlich Bachman	Software Aggregation Program
SEE FOOD	Silicon Valley	Mobile	2		15000000	2016	Acquired	Jian-Yang	The Shazam of Food
Forbid	New York	Mobile	25	1400000	5000000	2013	Acquired	Charlie Dattolo	Charge Users $10 for Calling Their Ex
Soulstice	New York	Fitness	300	30000000	120000000	2014	B		What are your goals today?
E-Corp	New York	Enterprise	10000		66000000000	2006		Phillip Price	Together We Can Change the Wolrd
Allsafe Cybersecurity	New York	Security	250	123000000	1000000000	2014		Gideon Goddard	
fsociety	Brooklyn	Games	5			2015	Stealth	Elliot Alderson	Fun Society Arcade

In [ ]:
-- 2 Calculate the total number of companies in the table.
SELECT COUNT(*) FROM startups;

-- Results

Query Results
COUNT(*)
70

In [ ]:
-- 3 We want to know the total value of all companies in this table.
SELECT SUM(valuation) FROM startups;

-- Results

Query Results
SUM(valuation)
974455790000

In [ ]:
-- 4 What is the highest amount raised by a startup?
-- Return the maximum amount of money raised.
SELECT MAX(raised) FROM startups;

-- Results

Query Results
MAX(raised)
11500000000

In [ ]:
-- 5 Edit the query so that it returns the maximum amount of money raised, during ‘Seed’ stage.
SELECT MAX(raised) FROM startups WHERE stage = 'Seed';

-- Results

Query Results
MAX(raised)
1800000

In [ ]:
-- 6 In what year was the oldest company on the list founded?
SELECT MIN(founded) FROM startups;

-- Results

Query Results
MIN(founded)
1994

In [ ]:
-- 7 Return the average valuation.
SELECT AVG(valuation) FROM startups;

-- Results

Query Results
AVG(valuation)
15974685081.9672

In [ ]:
-- 8 Return the average valuation, in each category.
SELECT category, AVG(valuation) FROM startups GROUP BY category;

-- Results

Query Results
category	AVG(valuation)
4290000.0
Algorithms	7600000.0
Augmented Reality	8000000000.0
Big Data Analytics	15000000.0
Cloud Computing	95000000.0
Customer Service	640000000.0
Data Analytics	
E-commerce	60250000.0
Education	2023800000.0
Enterprise	38508333333.3333
Fashion	3200000.0
Fitness	67500000.0
Gambling	322000000.0
Games	1600000.0
Health Care	380490000000.0
Logistics	70000000.0
Mobile	9600000.0
Nanotechnology	150000000.0
Real Estate	20000000000.0
SaaS	401000000.0
Security	6333333333.33333
Social	82425833.3333333
Technology	3100000000.0
Travel	12501250000.0
Venture Capital	3000000000.0
Video Streaming	
Virtual Reality	2150000.0

In [ ]:
-- 9 Return the average valuation, in each category.
-- Round the averages to two decimal places.
SELECT category, ROUND(AVG(valuation), 2) FROM startups GROUP BY 1;

-- Results

Query Results
category	ROUND(AVG(valuation), 2)
4290000.0
Algorithms	7600000.0
Augmented Reality	8000000000.0
Big Data Analytics	15000000.0
Cloud Computing	95000000.0
Customer Service	640000000.0
Data Analytics	
E-commerce	60250000.0
Education	2023800000.0
Enterprise	38508333333.33
Fashion	3200000.0
Fitness	67500000.0
Gambling	322000000.0
Games	1600000.0
Health Care	380490000000.0
Logistics	70000000.0
Mobile	9600000.0
Nanotechnology	150000000.0
Real Estate	20000000000.0
SaaS	401000000.0
Security	6333333333.33
Social	82425833.33
Technology	3100000000.0
Travel	12501250000.0
Venture Capital	3000000000.0
Video Streaming	
Virtual Reality	2150000.0

In [ ]:
-- 10 Return the average valuation, in each category.
-- Round the averages to two decimal places.
-- Lastly, order the list from highest averages to lowest.
SELECT category, ROUND(AVG(valuation),2) FROM startups GROUP BY 1 ORDER BY 2 DESC;

-- Results

Query Results
category	ROUND(AVG(valuation),2)
Health Care	380490000000.0
Enterprise	38508333333.33
Real Estate	20000000000.0
Travel	12501250000.0
Augmented Reality	8000000000.0
Security	6333333333.33
Technology	3100000000.0
Venture Capital	3000000000.0
Education	2023800000.0
Customer Service	640000000.0
SaaS	401000000.0
Gambling	322000000.0
Nanotechnology	150000000.0
Cloud Computing	95000000.0
Social	82425833.33
Logistics	70000000.0
Fitness	67500000.0
E-commerce	60250000.0
Big Data Analytics	15000000.0
Mobile	9600000.0
Algorithms	7600000.0
4290000.0
Fashion	3200000.0
Virtual Reality	2150000.0
Games	1600000.0
Video Streaming	
Data Analytics

In [ ]:
-- 11 Return the name of each category with the total number of companies that belong to it.
SELECT category, COUNT(*) FROM startups GROUP BY category;

-- Results

Query Results
category	COUNT(*)
3
Algorithms	1
Augmented Reality	1
Big Data Analytics	1
Cloud Computing	2
Customer Service	1
Data Analytics	1
E-commerce	3
Education	5
Enterprise	3
Fashion	2
Fitness	3
Gambling	1
Games	2
Health Care	2
Logistics	1
Mobile	10
Nanotechnology	1
Real Estate	1
SaaS	2
Security	3
Social	12
Technology	3
Travel	2
Venture Capital	1
Video Streaming	1
Virtual Reality	2

In [ ]:
-- 12 Filter the result to only include categories that have more than three companies in them.
-- What are the most competitive markets?

SELECT category, COUNT(*) FROM startups GROUP BY category HAVING COUNT(*) > 3 ORDER BY 2 DESC;

-- Results

Query Results
category	COUNT(*)
Social	12
Mobile	10
Education	5

In [ ]:
-- 13 What is the average size of a startup in each location?
SELECT location, AVG(employees) FROM startups GROUP BY location;

-- Results

Query Results
location	AVG(employees)
Atlanta	3.0
Boulder	3.0
Brooklyn	502.666666666667
Chicago	12.0
Columbus	2.0
Denver	12.0
Fort Lauderdale	500.0
Irvine	2.0
Long Island	5.0
Los Angeles	6.83333333333333
Minneapolis	20.0
New Delhi	250.0
New York	702.75
Omaha	65.0
Palo Alto	125.833333333333
Paris	30.0
San Francisco	1920.4
Savannah	6.0
Scranton	6.0
Seattle	9.66666666666667
Silicon Valley	1804.6
Virginia Beach	15.0
Washington DC	8.0

In [ ]:
-- 14 What is the average size of a startup in each location, with average sizes above 500?
SELECT location, AVG(employees) FROM startups GROUP BY location HAVING AVG(employees) > 500;

-- Results

Query Results
location	AVG(employees)
Brooklyn	502.666666666667
New York	702.75
San Francisco	1920.4
Silicon Valley	1804.6

## Review
It was a small interesting database. I would like to play with a similar one but with more data. Some hypothesis that can be tested are: Is the stage linked with the valuation, employes, founded or raised. Does more valuation mean more employees? Are they related? and how (example: linearly?). Do older companies have bigger valuation? or it depends more on their category? If I wanted to extend the analysis I would try to find their current valuation and make a percentage valuation on how much they have grown or shrunk. Then we can restart our analysis with more options, such as did the technological companies have a greater increase?